<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<link
  href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
  rel="stylesheet"
/>

<div class="backgroundimage">
	<div class="navbar">
		<img src="http://www.arabsoft.com.tn/smart/themes/default/assets/img/logo_svg.svg" class="logo" alt="">
	


	</div>
 
		<div class="container">
			<div class="form-box Login">
		<h2>Inscription</h2>
		<form action="#">
			<div class="user-details">
         <div class="input-box">
			<span class="details">Nom</span>
			<input type="text" placeholder="Entrer ton nom" required>
		 </div>
		 <div class="input-box">
			<span class="details">Prénom</span>
			<input type="text" placeholder="Entrer prénom" required>
		 </div>
		 <div class="input-box">
			<span class="details">Email</span>
			<input type="email" placeholder="Entrer ton email" required>
		 </div>
		 <div class="input-box">
			<span class="details">CIN</span>
			<input type="number"  size="8" placeholder="Entrer cin" required>
		 </div>
		 <div class="input-box">
			<span class="details">Num-passport</span>
			<input type="text" placeholder="Entrer num-passport" >
		 </div>
		 <div class="input-box">
			<span class="details">Matricule-fiscale</span>
			<input type="text" placeholder="Entrer matricule-fiscale" >
		 </div>
		 <div class="input-box">
			<span class="details">Adresse</span>
			<input type="text" placeholder="Entrer ton adresse" required>
		 </div>
		 <div class="input-box">
			<span class="details">Ville</span>
			<input type="text" placeholder="Entrer ville" required>
		 </div>
		 <div   routerLink="/info1">
			 <input class="btn btn-primary"    type="submit" value="Envoyer">
		 </div>
		 </div>
        </form>



				
         </div>



 


		</div>

			
				

</div>	

	








 