<!DOCTYPE html>
<html>
 
<body>
<div class="bg">
  <div >
   <div>
    <img src="assets/images/Facture.jpg" alt="Facture" style="width:400px; height: 460px; margin-left:370px; margin-top:10px;">
    <div class="container" style="margin-top:20px;margin-left: 400px;">
    <button  class="return" style="margin-left:50px;"><a class="return" href="abonnements">Retour</a></button>
    <button  class="done"><a class="done" href=" ">Payer </a></button>
   </div>
</div>
  </div> 
</div>

</body>
</html>
    