<html lang="en">
    <head>
        <script src="http://kit.fontawesome.com/b99e675b6e.js"></script>
   
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>

<div class="wrapper">
  <div class="navbar">
    <div class="notification-wrap">
        <div class="notification-icon">
            <i class="fa fa-bell"></i>

        </div>
        <div class="dropdown">
            <div class="notify-item">
                <div class="notify-info">
                    <p>Vous avez une facture impayée pour le compte XYZ</p>
                    <span class="notify-time">Il y a 31 minutes</span>
                </div>
            </div>
            <div class="notify-item">
                <div class="notify-info">
                    <p>Le paiement pour la facture STEG pour le compte XYZ a été reçu et traité avec succès</p>
                    <span class="notify-time">Il y a 49 minutes</span>
                </div>
            </div>
            <div class="notify-item">
                <div class="notify-info">
                    <p>Le paiement pour la facture STEG pour le compte XYZ a été annulé</p>
                    <span class="notify-time">Il y a 53 minutes</span>
                </div>
            </div>
            <div class="notify-item">
                <div class="notify-info">
                    <p>Vous avez une réclamation pour le compte de XYZ</p>
                    <span class="notify-time">Il ya une heure</span>
                </div>
            </div>
            <div class="notify-item">
                <div class="notify-info">
                    <p>Vous avez une réclamation de l'entreprise ABC pour le compte de XYZ</p>
                    <span class="notify-time">2 mai 2023 à 12:49</span>
                </div>
            </div>



        </div>

    </div>
  </div>
</div>
    </body>
 </html> 
 