<html>
    <head>
    </head>
<body>
<div class="bg">
<div class="navbar">
</div>

<div class="col-lg-4 col-md-3 footerContD "  style="color:aliceblue;margin-top:40px; margin-left: 150px; ">
    <h1>Contactez-nous</h1><br>
    <ul class="listGFH list-unstyled" style="color: white">
        <li>Rue 8368 -bloc A- Espace El Aziz, lot Ennassim - Montplaisir- 1073 Tunis TUNISIE</li><br>
        <li>Tél : +216.71.95.12.48</li>
        <li>Fax : +216.71.95.10.44</li><br>
        <li>Email : arabsoft@arabsoft.com.tn<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;marketing@arabsoft.com.tn</li>

    </ul>
</div>
<div class="col-md-6" style="margin-left:50%; margin-top: -250px;">
    <form action="#" class="contFrm" method="POST">
      <div class="row">
        <div class="col-sm-6">
          <input type="text" name="name" placeholder="Nom" class="inptFld" required />
        </div>

        <div class="col-sm-6">
          <input type="email" name="email" placeholder="Email" class="inptFld" required />
        </div>

        <div class="col-sm-6">
          <input type="tel" name="phone" placeholder="Num de téléphone" class="inptFld" required />
        </div>

        <div class="col-sm-6">
          <input type="text" name="sub" placeholder="Sujet" class="inptFld" required />
        </div>

        <div class="col-12">
          <textarea class="inptFld" rows="" cols="" placeholder="Message..." required></textarea>
        </div>

        <div class="col-12">
          <input type="submit" name="submit" value="Envoyer" class="inptBtn" />
        </div>
      </div>
    </form>
  </div>
</div>







</body>
</html>
