
<section class="contact-sec sec-pad">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="contact-detail">
            <h2 class="section-title" style="margin-top:-50px; margin-left:60px;color: rgb(15, 141, 219);">Bienvenue à ARABSOFT</h2>
            <p style="margin-top:10px; margin-left:60px; color:black;">Créé en 1985 par Mohamed TRIKI, ARABSOFT s’est spécialisée dans l’étude, le développement et la distribution de solutions de gestion notamment pour le secteur public.&nbsp;</p>
            <div class="btgrid">
                <div class="row row-1">
                <div class="col-md-12">
                <div class="content" style="margin-top:18px; margin-left:60px;">
                <p><span style="font-size:16px;"><span style="color:black"><span class="fa fa-check-square fa-fw"></span>&nbsp;<strong><span style="font-family:Roboto">Développer notre implantation internationale</span></strong></span><br>
                <span style="color:black"><br>
                <span class="fa fa-check-square fa-fw"></span>&nbsp;<strong><span style="font-family:Roboto">Répondre aux enjeux métiers de nos clients</span></strong></span></span><br>
                <br>
                <span style="font-size:16px"><span style="color:black"><span class="fa fa-check-square fa-fw"></span>&nbsp;<strong><span style="font-family:Roboto">Proposer nos solutions en mode SAAS</span></strong><br>
                <br>
                <strong><span style="font-family:Roboto"></span></strong><span class="fa fa-check-square fa-fw"></span>&nbsp;<strong><span style="font-family:Roboto">Renforcer la proximité avec nos clients</span></strong></span></span></p>
                </div>
                </div>
                </div>
                </div>
          </div>
        </div>
      </div>
    </div>
</section> 
<div style="margin-left: 570px; margin-top:-416px;">
    <img src="https://www.arabsoft.com.tn/uploads/images/full/15fd90e3d8799b97a26c302906074558.png">
</div>     
