<html>
<head>

</head>
<body>
  <div class="bg">
    <div class="navbar">
    <div class="delete-cont">
        <div class="alert alert-info" >
            <strong>Info! </strong>Nous avons bien reçu votre demande d'inscription.<br>Veuillez patienter un peu pour que nous puissions vous envoyer votre adresse et votre mot de passe."
            <a href="login" class="alert-link" style="color:rgb(0, 0, 0)" ><br>D'accord</a>
            <a class="alert-link" style="color:rgb(0, 0, 0);" onclick="document.querySelector('.tel-cont').style.display = 'block' " ><br>utiliser un numéro de téléphone ?</a> 
        </div> 
    </div>
    <div class="tel-cont">
        <span class="close" titre="close&" onclick="document.querySelector('.tel-cont').style.display = 'none' ">&times;</span>
        <div class="tel-txt">
            <h6>numéro de téléphone</h6>
        </div> 
        <div class="input-box">
            <input type="txt" placeholder="entrer le numéro">
        </div>
        <div  class="tel-actions"> 
            <a class="done" ><button class="done">terminé</button></a>  
         </div> 
    </div> 
  
</div> 
  </div> 
</body>
</html>