
<div class="bg">
  <div class="navbar">
		<img src="http://www.arabsoft.com.tn/smart/themes/default/assets/img/logo_svg.svg" class="logo" alt="">

<ul>
  
  <li><a href="contact1">contact</a></li>
  <li><a href="info">Informations</a></li>
</ul>
 
		
	</div>

  <div class="container mx-auto" style=" padding:3%;" >
    <div class="row">

      <div class="col-lg-4">
        <img src="assets/images/HAYAT1.jpg" class="bd-placeholder-img rounded-circle" width="140px" height="140px">
        <p id="head4" style="color:white;" >HAYAT</p>
       <p><a id="head6" class="btn btn-secondary" href="acces" role="button" button style="background-color:  rgb(128, 114, 141);">voir détails »</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <img src="assets/images/AMIN1.jpg" class="bd-placeholder-img rounded-circle" width="140px" height="140px">
        <p id="head4" style="color:white;" >AMIN</p>
       <p><a id="head6" class="btn btn-secondary" href="amin-home"  role="button" button style="background-color:  rgb(128, 114, 141);">voir détails »</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <img src="assets/images/ARZAK1.jpg" class="bd-placeholder-img rounded-circle" width="140px" height="140px">
        <p id="head4" style="color:white;" >ARZAK</p>
        <p><a id="head6" class="btn btn-secondary" href="acces"  role="button" button style="background-color:  rgb(128, 114, 141);">voir détails »</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <img src="assets/images/AJIR1.jpg" class="bd-placeholder-img rounded-circle" width="140px" height="140px">
        <p id="head4" style="color:white;" >AJIR</p>
        <p><a id="head6" class="btn btn-secondary" href="acces"  role="button" button style="background-color: rgb(128, 114, 141);">voir détails »</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <img src="assets/images/XLIA1.jpg" class="bd-placeholder-img rounded-circle" width="140px" height="140px">
        <p id="head4" style="color:white;" >XLIA</p> 
        <p><a id="head6" class="btn btn-secondary" href="acces"  role="button" button style="background-color: rgb(128, 114, 141);">voir détails »</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <img src="assets/images/MERKAZIA.jpg" class="bd-placeholder-img rounded-circle" width="140px" height="140px">
        <p id="head4" style="color:white;"  >MERKAZIA</p>
        <p><a id="head6" class="btn btn-secondary" href="acces"  role="button" button style="background-color:  rgb(128, 114, 141);">voir détails »</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <img src="assets/images/JIBAYA1.jpg" class="bd-placeholder-img rounded-circle" width="140px" height="140px">
        <p id="head4" style="color:white;" >JIBAYA</p>
        <p><a id="head6" class="btn btn-secondary" href="acces" role="button" button style="background-color:rgb(128, 114, 141);" >voir détails »</a></p>
      </div><!-- /.col-lg-4 -->

    </div>
  </div>
</div>
